body, html{ 
    height: 100%;
}
.parallax {
    background-image: url("https://www.abajournal.com/images/main_images/shutterstock_democrat_republican_symbol_on_flag_background.jpg") !important; 
    
    height: 100%;


    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
 }
