<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="body-styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <title>analytics</title>
</head>
<body>
    <div class="parallax">
      
    <nav class="navbar navbar-inverse visible-xs">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand" href="#">State Trends</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Analytics</a></li>
            <li><a href="#">Back to Search</a></li>
          </ul>
        </div>
      </div>
    </nav>
    
    <div class="container-fluid">
      <div class="row content">
        <div class="col-sm-3 sidenav hidden-xs">
          <h2>State Trends</h2>
          <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="{{ url_for('analytics') }}">Analytics</a></li>
            <li><a href="{{ url_for('index') }}">Back to Search</a></li>
          </ul><br>
        </div>

        <div class="col-sm-9">
          <div class="well">
            <h4>Dashboard</h4>
            <p>Here you can compare your state's rates, to the current national values.</p>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <div class="well">
                <h4>Current U.S. Unemployement Rate</h4>
                <p>7.9%</p> 
              </div>
            </div>
            <div class="col-sm-3">
              <div class="well">
                <h4>Current U.S. Poverty Rate</h4>
                <p>10.5%</p> 
              </div>
            </div>
            <div class="col-sm-3">
              <div class="well">
                <h4>Current U.S. Population</h4>
                <p>328 Million</p> 
              </div>
            </div>
            <div class="col-sm-3">
              <div class="well">
                <h4>Current Presidential Party</h4>
                <p>Rebulican</p> 
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="well">
                <canvas id="line-chart"></canvas>
                  <script>
                        new Chart(document.getElementById("line-chart"), {
                          type: 'line',
                          data: {
                          labels: ['{{ data.unemployment_rate_year[0][0] }}','{{ data.unemployment_rate_year[0][1] }}','{{ data.unemployment_rate_year[0][2] }}',
                          '{{ data.unemployment_rate_year[0][3] }}','{{ data.unemployment_rate_year[0][4] }}','{{ data.unemployment_rate_year[0][5] }}',
                          '{{ data.unemployment_rate_year[0][6] }}', '{{ data.unemployment_rate_year[0][7] }}','{{ data.unemployment_rate_year[0][8] }}',
                          '{{ data.unemployment_rate_year[0][9] }}'],
                          datasets: [{ 
                            data: ['{{ data.unemployment_rate[0][0] }}','{{ data.unemployment_rate[0][1] }}','{{ data.unemployment_rate[0][2] }}',
                          '{{ data.unemployment_rate[0][3] }}','{{ data.unemployment_rate[0][4] }}','{{ data.unemployment_rate[0][5] }}',
                          '{{ data.unemployment_rate[0][6] }}', '{{ data.unemployment_rate[0][7] }}','{{ data.unemployment_rate[0][8] }}',
                          '{{ data.unemployment_rate[0][9] }}'],
                            label: ['{{data.population_state[0]}}'],
                            fontColor: 'antiquewhtie',
                            borderColor: "#3cba9f",
                            fill: false
                              }]
                          },
                          options: {
                            legend:{
                              labels: {
                                fontColor: 'antiquewhite'
                                      }
                                    },
                            title: {
                              display: true,
                              text: 'Unemployment Rate',
                              fontColor: 'antiquewhite'
                            }
                          }
                    });</script>
                </div>
              </div>
                <div class="col-sm-6">
                  <div class="well">
                    <canvas id="line-chart2"></canvas>
                      <script>
                              new Chart(document.getElementById("line-chart2"), {
                              type: 'line',
                              data: {
                              labels: [2010,2011,2012,2013,2014,2015,2016,2017,2018,2019],
                              datasets: [{ 
                                data: ['{{data.population[0][0]}}','{{data.population[0][1]}}','{{data.population[0][2]}}',
                                '{{data.population[0][3]}}','{{data.population[0][4]}}','{{data.population[0][5]}}',
                                '{{data.population[0][6]}}','{{data.population[0][7]}}','{{data.population[0][8]}}',
                                '{{data.population[0][9]}}'],
                                label: ['{{data.population_state[0]}}'],
                                borderColor: "#3cba9f",
                                fill: false
                                  }]
                              },
                              options: {
                                legend:{
                              labels: {
                                fontColor: 'antiquewhite'
                                      }
                                    },
                                title: {
                                  display: true,
                                  text: 'State Population',
                                  fontColor: 'antiquewhite'
                                }
                              }
                        });</script>
                    </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="well">
                    <canvas id="line-chart3"></canvas>
                      <script>
                              new Chart(document.getElementById("line-chart3"), {
                              type: 'line',
                              data: {
                              labels: ['{{ data.poverty_rate_year[0][0] }}','{{ data.poverty_rate_year[0][1] }}','{{ data.poverty_rate_year[0][2] }}',
                          '{{ data.poverty_rate_year[0][3] }}','{{ data.poverty_rate_year[0][4] }}','{{ data.poverty_rate_year[0][5] }}',
                          '{{ data.poverty_rate_year[0][6] }}', '{{ data.poverty_rate_year[0][7] }}','{{ data.poverty_rate_year[0][8] }}',
                          '{{ data.poverty_rate_year[0][9] }}'],
                              datasets: [{ 
                                data: ['{{ data.poverty_rate[0][0] }}','{{ data.poverty_rate[0][1] }}','{{ data.poverty_rate[0][2] }}',
                          '{{ data.poverty_rate[0][3] }}','{{ data.poverty_rate[0][4] }}','{{ data.poverty_rate[0][5] }}',
                          '{{ data.poverty_rate[0][6] }}', '{{ data.poverty_rate[0][7] }}','{{ data.poverty_rate[0][8] }}',
                          '{{ data.poverty_rate[0][9] }}'],
                                label: ['{{data.population_state[0]}}'],
                                borderColor: "#3cba9f",
                                fill: false
                                  }]
                              },
                              options: {
                                legend:{
                              labels: {
                                fontColor: 'antiquewhite'
                                      }
                                    },
                                title: {
                                  display: true,
                                  text: 'Poverty Rate',
                                  fontColor: 'antiquewhite'
                                }
                              }
                        });</script>
                    </div>
                  </div>
                    <div class="col-sm-6">
                      <div class="well">
                        <canvas id="line-chart4"></canvas>
                          <script>
                                  new Chart(document.getElementById("line-chart4"), {
                                  type: 'line',
                                  data: {
                                  labels: ['{{data.state_legislature[0][0]}}','{{data.state_legislature[0][1]}}',
                                    '{{data.state_legislature[0][2]}}','{{data.state_legislature[0][3]}}',
                                    '{{data.state_legislature[0][4]}}','{{data.state_legislature[0][5]}}',
                                    '{{data.state_legislature[0][6]}}','{{data.state_legislature[0][7]}}',
                                    '{{data.state_legislature[0][8]}}','{{data.state_legislature[0][9]}}'],
                                    label: ['{{data.population_state[0]}}'],
                                  datasets: [{ 
                                    data: ['{{data.state_legislature_year[0][0]}}','{{data.state_legislature_year[0][1]}}',
                                  '{{data.state_legislature_year[0][2]}}','{{data.state_legislature_year[0][3]}}',
                                  '{{data.state_legislature_year[0][4]}}','{{data.state_legislature_year[0][5]}}',
                                  '{{data.state_legislature_year[0][6]}}','{{data.state_legislature_year[0][7]}}',
                                  '{{data.state_legislature_year[0][8]}}','{{data.state_legislature_year[0][9]}}'],
                                    label: ['{{data.population_state[0]}}'],
                                    borderColor: "#3cba9f",
                                    fill: false
                                      }]
                                  },
                                  options: {
                                    gridLines: {
                                        display: true ,
                                        color: 'antiquewhite'
                                    },
                                    legend:{
                              labels: {
                                fontColor: 'antiquewhite'
                                      }
                                    },
                                    title: {
                                      display: true,
                                      text: 'Legislation Control',
                                      fontColor: 'antiquewhite'
                                    }
                                  }
                            });</script>
                        </div>
                      </div>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</body>
<style>
        body, html{ 
           height: 100%;
           color: antiquewhite;
       }
       .parallax {
           background-image: url("https://www.abajournal.com/images/main_images/shutterstock_democrat_republican_symbol_on_flag_background.jpg"); 
       
           height: 100%;
   
          min-height: 100vh;
          
           background-attachment: fixed;
           background-repeat: no-repeat; 
           background-size: cover; 
           background-position: center center;
       } 
        .row.content {height: 700px;}
    
        .sidenav {
            background-color: #0c060628;
             height: 100%;
         }
    
        @media screen and (max-width: 767px) {
        .row.content {height: auto;} 
         }
     h2{
         color:antiquewhite;
     }
     h4{
         color:antiquewhite;
     }
     p{
         color:antiquewhite;
     }
     .well{
         background-color: #0c060628;
     }
     
   </style>
</style>
</html>